Repository Trim0500/calligraphy-final-project, pull requests merged in 2022-02, with the labels that each got.

#26 (Bug/SCWSFP-56): Fix Axes Errors for Earnings Chart
  src/Pages/Contracts.js
  src/Pages/EarningsPage.js
Labels: Contracts

#29 (Feat/SCWSFP-57): Implement reCAPTCHA for Form
  .gitignore
  package-lock.json
  package.json
  src/Components/FormClass.js
Labels: Auth, Form

#30 (Feat/SCWSFP-23): Create Filter for Requests
  package-lock.json
  package.json
  src/Pages/FormOperation.js
Labels: enhancement, feature, Form

#31 Bug: Update Frontend Client to Allow Selenium to Pass Tests
  src/Components/FormClass.js
Labels: Auth, Form

#33 Fixed bug with the filter
  src/Pages/FormOperation.js
Labels: bug

#37 Fix selenium m7
  src/Components/FormClass.js
Labels: Form

#44 Styling should be done with this
  src/Components/FormClass.js
  src/Pages/ContractDetails.js
  src/Pages/Contracts.js
  src/Pages/FormOperation.js
  src/Pages/ImageUpload.js
  src/Pages/Quote.js
  src/Styling/app.css
Labels: Styling
