Repository Trim0500/calligraphy-final-project, pull requests merged in 2022-01, with the labels that each got.

#10 SCWSFP-39: Remove Mailer API Endpoint
  src/Components/FormClass.js
Labels: Mailer

#13 SCWSFP-20: Generate Contracts
  package-lock.json
  package.json
  src/Components/Navbar.js
  src/Pages/ContractDetails.js
  src/Pages/Contracts.js
Labels: Contracts

#15 (Bug) SCWSFP-51: Fix Disabled Contract Update Button
  src/Pages/ContractDetails.js
Labels: Contracts

#16 (Bug) SCWSFP-50: Fix the Date Formatting in Contracts Page
  src/Pages/Contracts.js
Labels: bug, Contracts

#17 (Bug) SCWSFP-52-47: Fix Quote Edit Inputs + Remove Quote Id From Quotes Page
  src/Pages/FormCRUD.js
  src/Pages/Quote.js
Labels: bug, quote

#18 SCWSFP-10: Create About Page
  package-lock.json
  package.json
  src/Components/Navbar.js
  src/Pages/About.js
  src/resources/img/serena.PNG
Labels: feature

#19 Feat/SCWSFP-43: Mailer Admin Notifications
  src/Pages/Quote.js
Labels: Mailer, Quotes

#21 Feat/SCWSFP-16: Create Monthly Earnings Page
  package-lock.json
  package.json
  src/Components/Navbar.js
  src/Pages/Contracts.js
  src/Pages/EarningsPage.js
Labels: Contracts

#20 Feat/SCWSFP-53: Edit About Page
  src/Pages/About.js
  src/Pages/Quote.js
  src/resources/img/icons/facebook.png
  src/resources/img/icons/instagram.png
  src/resources/img/icons/youtube.png
Labels: About

#25 Bug: Use Axios for Contracts
  src/Components/Navbar.js
  src/Pages/ContractDetails.js
  src/Pages/Contracts.js
  src/Pages/EarningsPage.js
Labels: Contracts, Auth
